:root {
  --gold: #a18a68;
  --gray: #707070;
  --border-bg: #d8d8d8;
  --text-color: #000;
}
/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*:focus {
  outline: 2px dotted orchid;
  outline-offset: 2px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "DM Sans","Arial", sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTON */
.button {
  padding: 16px 30px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}
.button-transparent {
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  background-color: transparent;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1300px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
  margin-top: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: auto;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}

.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 64px;
}

.sitenav__link {
  color: var(--text-color);
}

.sitenav-actions-divider {
  margin-left: 48px;
  margin-right: 48px;
}

.actions__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.actions__item:not(:last-child) {
  margin-right: 39px;
}

.actions__link {
  color: var(--text-color);
}

.actions__icon {
  width: 20px;
  height: 20px;
}


/* MAIN */
.main-content__container {
  margin-top: 0;
}

.hero {
  position: relative;
  width: 1248px;
  height: 646px;
  margin-top: 0;
  margin-bottom: 64px;
  padding-top: 225px;
  padding-left: 40px;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
}


.hero__info {
  max-width: 390px;
  color: #fff;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 33px;
  font-weight: 500;
  line-height: 43px;
}
.hero__count-text {
  margin-top: 0;
  font-size: 26px;
  line-height: 35px;
}

.hero__bg-slider {
  position: absolute;
  right: 50%;
  bottom: 24px;
}


/* FEATURES */
.features {
  margin-top: 0;
  margin-bottom: 250px;
}

.features__top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features__title {
  font-size: 33px;
  font-weight: 500;
  line-height: 43px;
}

.features__text-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: var(--gold);
  text-transform: capitalize;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: -54px;
  list-style: none;
}

.features__item {
  position: relative;
  margin-bottom: 85px;
}

.features__item:hover .features__img {
  opacity: 0.4;
}

.features__item:hover .features__hover-icon {
  display: block;
}

.features__item:not(:last-child) {
  margin-right: 55px;
}

.features__img {
  margin: 0;
  width: 377px;
  height: 380px;
  flex-shrink: 0;
}

.features__item-title {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 26px;
}

.features__item-count-text {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: var(--gold);
  text-transform: capitalize;
}

/* HOVER-ICONS */
.features__hover-icon-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  left: 120px;
  top: 35%;
}

.features__hover-icon {
  display: none;
}

.features__hover-icon:not(:last-child) {
  margin-right: 30px;
}




@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}

/* input:not(:focus):not(:placeholder-shown):valid {
  border-color: greenyellow;
}
input:not(:focus):not(:placeholder-shown):invalid {
  border-color: red;
}

input:focus + .validation-error,
input:valid + .validation-error,
input:placeholder-shown + .validation-error {
  display: none;
} */